<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="test_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <test_gui.Properties.Settings>
            <setting name="prosent" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="lyd_bilde_price" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="servering_price" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="toast_master_price" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="leker_opplegg_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="regge_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pynt_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="servise_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="transport_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fotograf_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="balpanne_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="over_15_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="under_15_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reise_utgifter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="personell_price" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalpris" serializeAs="String">
                <value>1000</value>
            </setting>
        </test_gui.Properties.Settings>
    </userSettings>
</configuration>